body {
  background: linear-gradient(90deg,mintcream,lightskyblue,whitesmoke);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
  overflow: inherit;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#video{
/*	isplay: none;*/
	/*width: 100%;
	height: 100vh;*/
}


@keyframes appear{
	from{
		transform: translateY(150px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/

@keyframes comedown{
	from{
		transform: translateY(-200px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 0.7;
	}
}

.section {
    width: 100%;
    min-height: 1300vh;
    position: relative;
    display: flex;
    justify-content: center;
/*    align-items: center;*/
}

.section .topic{
	color: lightyellow;
	padding: 20px;
	height: 50vh;
	width: auto;
	font-size: 15vh;
	font-family: sans-serif;
	font-variant-caps: titling-case;
/*	background: white;*/
	display: flex;
/*	flex-direction: column;*/
	align-items: center;
	opacity: 0.7;
	animation: comedown 5s ease ;
}


#ending {
	left: 60vw;
	margin: 5px;
/*	background: white;*/
	width: 30%;
    min-height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: right;
    font-size: 1vw;
    font-family: sans-serif;
}

#logo{
    position: relative;
    left: 4vw;
}


#text{
	background: rgba(0, 0, 0, 0.45);
	left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*	margin: 70px;*/
/*	padding: 20px;*/
	position: absolute;
	overflow: scroll;
	height: 100vh;
	width: 50vw;
	z-index: 300;
	display: none;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    transform-origin: 50% 50%;

}

#fall1{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fall{
    padding: 20px;
	font-size: 1vw;
	position: sticky;
	text-align: left;
	color: whitesmoke;
	font-family: sans-serif;
}

#fallauth{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text2{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall2{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallb{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth2{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text3{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall3{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallc{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth3{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text4{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall4{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Falld{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth4{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text5{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall5{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Falle{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth5{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text6{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall6{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallf{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth6{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text7{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall7{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallg{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth7{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text8{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall8{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallh{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth8{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

#text9{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall9{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Falli{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth9{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}


#text10{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall10{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallj{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth10{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}


#text11{
    background: rgba(0, 0, 0, 0.45);
    left: 48vw;
/*    top: 75vh; /* or something like: top: calc(100vh - 30vh); */
    bottom: unset;
/*  margin: 70px;*/
/*  padding: 20px;*/
    position: absolute;
    overflow: scroll;
    height: 100vh;
    width: 50vw;
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;

}

#fall11{
    font-size: 2vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}


#Fallk{
    padding: 20px;
    font-size: 1vw;
    position: sticky;
    text-align: left;
    color: whitesmoke;
    font-family: sans-serif;
}

#fallauth11{
    font-size: 1vw;
    position: sticky;
    text-align: right;
    font-style: italic;
    color: white;
    font-family: sans-serif;
}

/*#beginning .title {
    color: #d1ff48;
    font-size: 11em;
    font-family: "devil breeze";
    font-weight: bold;
    position: relative;
    text-align: center;
}*/

/*.content-fit {
    width: min(1200px, 90vw);
    margin: auto;
    min-height: 100vh;
    position: relative;
    padding-block: 10em;
}*/
/*header {
    padding-block: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10px;
    backdrop-filter: blur(20px);
    z-index: 100;
    background-color: #1B1B1B11;
    background-image: repeating-linear-gradient(
        to right, transparent 0 500px, #eee1 500px 501px
    );
}
header .content-fit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: unset!important;
    padding-block: unset!important;
}
header .content-fit nav ul{
    display: flex;
    gap: 2em;
}

#banner .title {
    color: #d1ff48;
    font-size: 11em;
    font-family: "devil breeze";
    font-weight: bold;
    position: relative;
    text-align: center;
}
#banner .title::before {
    content: attr(data-before);
    position: absolute;
    top: 0.5em;
    inset: 0.66em 0 0 0;
    z-index: -1;
    color: #445022;
}
.section .decorate {
    position: absolute;
}
#intro .content-fit {
    display: flex;
    gap: 30%;
    justify-content: space-between;
    align-items: center;
}
.section .number {
    font-family: "devil breeze";
    font-size: 15em;
    font-weight: bold;
}
.section .content-fit .title {
    font-family: "devil breeze";
    font-size: 5em;
    font-weight: bold;
}
#description .content-fit {
    padding-right: 30%;
}
#description .number {
    font-size: 5em;
}
#description .title {
    font-size: 7em;
    font-weight: 500;
}
#contact .content-fit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


#beginning .title::before {
    content: attr(data-before);
    position: absolute;
    top: 0.5em;
    inset: 0.66em 0 0 0;
    z-index: -1;
    color: #445022;
}
*/

#container3d {
/*	height: 200vh;*/
	position: fixed;
	inset: 0;
/*	background-color: lightslategray;*/
	z-index: 100;
	pointer-events: none;
	animation: appear 5s ease ;
	height: 200vh;
}

#mobile-message {
      display: none;
      color: black;
      position: fixed;
      bottom: 10vh;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.7);
      color: whitesmoke;
      padding: 20px;
      font-size: 3vw;
      font-family: sans-serif;
      text-align: center;
      z-index: 9999;
    }


@media (max-width: 600px) {
    body{
        background: black;
    }
  .section .topic {
    display: none;
  }

  #ending {
    display: none;
  }

  #text {
      display: none;
  }

  #Fall {
   display: none;
  }

  body {
    display: none;
  }

  #container3d {
    display: none;
    z-index: -2;
  }

  #mobile-message{
    display: block;
  }
}